<div id="header">
  <h1>Jquery widget test</h1>
  <h2>HTML + Jquery + Css + Plugin = HTML widget</h2>
</div>

<div id="getting-started">
  <script src="<%= HOST %>/assets/blogger-widget.js" type="text/javascript"></script>

  <h1>Tech Blog feed</h1>          
  <div data-blog-name="jitu-blog" data-no-css="false" class="blogger-jquery-widget effect6"></div>

  <br/>

  <h1>Distributed Blog feed</h1>
  <div data-blog-name="distash" data-no-css="false" class="blogger-jquery-widget effect6"></div>
</div>